*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
body{
background-color: black;
width: 100%;
height: 100%;
    
}
#heading{
    font-size: 10em;
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 15px;
    margin-top: 270px;
    text-shadow: 0 0 10px rgb(186, 185, 185),
                 0 0 20px rgb(173, 173, 173),
                 0 0 40px rgb(229, 225, 225),
                 0 0 80px rgb(235, 232, 232);
    
}
.desc{
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    margin-top:150px ;
    font-family: 'Roboto', sans-serif;
    
}
#head2{
    color: aliceblue;
    font-size: 6rem ;
    font-family: 'Tangerine', cursive;
   text-align: center;
   margin-top: 70px;
}
.container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#box{
    width: 30%;
    height: 25%;
  
   margin-right: 50px;
   margin-left: 50px;
   border-radius: 50px;
  
   color: black;

}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}
#btn{
    width: 200px;
    height: 70px;
    border-radius: 30px;
    outline: none;
    border-style: none;
    background: rgb(3, 125, 173);
    color: aliceblue;
}
#img1{
    width: 400px;
    height: 420px;
 border-radius: 50px;
   
 }
 #box h1{
     text-align: center;
     color: aliceblue;

 }
@media (max-width:500px){
    .container{
        display: list-item;
        width: 100%;
    }
    #box {
        text-align: center;
        width: 100%;
        margin-left: 0;
        
    }
    /* #txt{
        width: 100%;
        text-align: center;
    } */
    body{
        width: 100%;
        height: 100%;
    }

.buttons{
    margin-left: 0%;
}
#img1{
    width: 300px;
    height: 320px;
    margin-left: 0px;
}
#btn{
    width: 150px;
}
}